{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>The Goonrak</title>
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/bootstrap.more.css" %}">
    <script src="{% static "assets/js/bootstrap.min.js" %}"></script>
    <script src="{% static "assets/js/holder.js" %}"></script>
</head>
{% block content %}
{% endblock %}
<footer>
    <p>Guardian은 서울대학교 컴퓨터공학부의 해킹/보안 동아리입니다.</p>
</footer>
</html>